.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 calc(var(--nav-height) / 3);
  height: var(--nav-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;

  background: #764503;
}

.Toolbar nav {
  height: 100%;
}

.menu {
  padding: .7rem;
  display: none;

  color: antiquewhite;
  border: 2px solid transparent;
  border-radius: .5rem;

  cursor: pointer;
  transition: all 300ms;
}

.menu:hover {
  border: 2px solid antiquewhite;
}

@media screen and (max-width: 499px) {
  .menu {
    display: block;
  }

  .Toolbar > *:not(.menu) {
    display: none;
  }
}