.modal {
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 222;

  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;

  background: darksalmon;
  border: .1rem solid #333;
  box-shadow: 0 .5rem .8rem #00000077;
  
  transition: all 300ms ease-out;
}

.displayNone {
  display: none;
}