.NavigationItems {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.NavigationItems a,
.NavigationItems a:visited {
  height: 100%;
  padding: 0 1rem;

  flex: 0;

  line-height: var(--nav-height);
  text-decoration: none;
  text-align: center;
  color: #fdf3e6;
  background: #f19f0044;
  border-bottom: .4rem solid transparent;
}

.NavigationItems a:hover,
.NavigationItems .Current {
  background: #f19f0088;
  border-bottom: .4rem solid #34c2dc;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-direction: row;
  }

  .NavigationItems a,
  .NavigationItems a:visited {
    flex: 0 1 auto;
  }
}